@mixin transition($property) {

  transition: $property 0.1s ease-in-out ;

}

body {
  overflow: hidden;
  display: flex;
  flex-flow: column;
  height: 100vh;
  background-color: $colorWhite;
  padding-top: 6.5em;
}


@mixin scroll-snap($property) {
  -webkit-scroll-snap-points-x: repeat($property);
     -ms-scroll-snap-points-x: repeat($property);
         scroll-snap-points-x: repeat($property);
 -webkit-scroll-snap-type: mandatory;
     -ms-scroll-snap-type: mandatory;
         scroll-snap-type: mandatory;
}

.align-left {
  //text-align: left;
}
.align-right {
//  text-align: right;
}

.online-indicator {
  width: 0.8em;
  height: 0.8em;
  background-color: $colorHighlight;
  border-radius: 50%;
  margin: auto 0;
}

::-webkit-scrollbar {
    display: none;
}
.mainbody {
  overflow:visible;
}
.slogan{
  padding-left: 5em;
  padding-right: 5em;
}
