@import url('https://fonts.googleapis.com/css?family=Roboto:500,700,900');



body {
	font-family: 'Roboto', sans-serif !important;
	font-size: 16px;
	font-weight: 500;
}

h1 {
	font-size: 3em;
	font-weight: $font-black;
}

h2 {
	font-size: 1.5em;
	font-weight: $font-black;
}

h3 {
	font-size: 1.125em;
	font-weight: $font-black;
}

h4 {
	font-size: 1.125em;
	font-weight: bold;
}
p {
	font-size: 0.8em;
}

a {
	font-size: 0.75;
	color: $colorHighlight;
	@include transition(all);

	&:hover {
		opacity: 0.8;
		text-decoration: none;
		color: $colorHighlight;
	}
}

.block-link {
	font-weight: $font-black;
	color: $colorSuperDarkGrey;
	&:hover {
		color: $colorHighlight;

	}
}
.accent {
  color: $colorHighlight;
}
