.main-nav {
  .nav-pills {
    a {
      @extend .block-link;
      pointer-events: auto;
    }

    li {
      @extend h3;
      pointer-events: none;

    }

    .active {
      background-color: transparent;
      color: $colorBlack;
      pointer-events: none;
    }

    [aria-selected=false] {}

    .divider {
      padding-top: 0.5em;
      padding-bottom: 0.8em;
      color: $colorDarkGrey;
    }
  }

}
.carousel {
  flex: 2;
}
.container-card {
  padding-bottom: 10em;
  overflow-y: hidden;
  overflow-x: hidden;
  height: 100%;


    //height: 100%;
    //flex-direction: row;

    // &.slide-customers {
    //   transform: translateX(0vw);
    //
    // }
    // &.slide-payment {
    //   transform: translateX(-80vw);
    //
    // }
    //
    // &.slide-settings {
    //     transform: translateX(-160vw);
    //
    // }

    //-webkit-overflow-scrolling: touch;

    .card-content {
      //flex-shrink: 0;
      height: 100%;
      //width: 100vw;
      //height: auto;
      //padding: 2em;
      //padding-top: 0em;
      //margin: 4em;
      //margin-left: 20%;
      //padding-bottom: 8em;
      //margin-right: 10em;


      .section {
        height: 100%;
        //max-width: 1140px;
        //width: 100vw;
        //margin-bottom: 7em;
        background-color: $colorWhite;
        box-shadow: $main-shadow;
        border-color: $colorDarkGrey;
        border-width: 2px;
        border-style: inset;
        overflow-y: hidden;

      }



  }
}

// @each $name, $value in $grid-breakpoints {
//   @media (min-width: $value) {
//   //  .card-flex {
// //      .card-content {
//         .section {
//             max-width: map-get($container-max-widths, $name) !important;
//         }
//     //  }
//
//     //}
//
//   }
.search {
  border-radius: 50%;
  border-width: 1px;
  border-color: $colorDarkGrey;
}
  .consumer-container {
    height: 100%;
    padding: 2em;
    .col-name {
      display: inline-flex;
      justify-content: space-between;
      align-items: center;
    }
    .div-scroll {
      height: 90%;
      overflow-y: scroll;
      //margin-bottom: 1em;
      justify-content: flex-start;
      overflow-x: hidden;

    }
    .search {
      padding-bottom: 1em;
    }
    .overlap {
    //  height: 100%;
      overflow: hidden;
      //margin-top: 1em;
    }


    .person {
      display: inline-flex;
      align-items: center;

      h3 {
        padding-left: 1em;
        margin-bottom: 0;
      }
      padding: 0.1em;
      margin-top: 1em;
      margin-bottom:1em;

      .icon {
        width: 2em;
        height: 2em;
        background-color: $colorHighlight;
        border-radius: 50%;
        margin: auto 0;
      }

    }
    .align-right {

    }
  }
