.main-nav {
  .nav-pills {
    a {
      @extend .block-link;
      pointer-events: auto;
    }

    li {
      @extend h3;
      pointer-events: none;

    }

    .active {
      background-color: transparent;
      color: $colorBlack;
      pointer-events: none;
    }

    [aria-selected=false] {}

    .divider {
      padding-top: 0.5em;
      padding-bottom: 0.8em;
      color: $colorDarkGrey;
    }
  }

}

.container-card {
  flex: 2;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;

  .card-flex {
    height: 100%;
    flex-direction: row;

    &.slide-customers {
      transform: translateX(0vw);

    }
    &.slide-payment {
      transform: translateX(-80vw);

    }

    &.slide-settings {
        transform: translateX(-160vw);

    }
    transition: all 0.5s ease-in-out ;

    display: flex;
    align-items: center;
    //-webkit-overflow-scrolling: touch;

    .card-content {
      flex-shrink: 0;
      height: 100%;
      width: 60vw;
      //height: auto;
      padding: 2em;
      padding-top: 0em;
      //margin: 4em;
      margin-left: 20%;
      padding-bottom: 8em;
      //margin-right: 10em;


      .section {
        height: 100%;
        //max-width: 1140px;
        width: 100vw;
        background-color: $colorWhite;
        box-shadow: $main-shadow;
        border-color: $colorDarkGrey;
        border-width: 2px;
        border-style: inset;

      }

    }

  }
}

@each $name, $value in $grid-breakpoints {
  @media (min-width: $value) {
  //  .card-flex {
//      .card-content {
        .section {
            max-width: map-get($container-max-widths, $name) !important;
        }
    //  }

    //}

  }
}
